<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
    <title>APP FOR IFRN</title>
    
  </head>
  <body>
  {% block conteudo %}

  {% endblock %}
  <a href="{% url 'todolist' %}">Todo</a> | <a href="{% url 'todolistas' %}">TodoList</a> | <a href="{% url 'criadores' %}">Criador</a>
  </body>
</html>
