{% extends 'base.html' %}

{% block conteudo %}
  <h3>Detalhes - TODO</h3>  
  <ul>
    <li>{{ obj.nome }} {{ obj.sobrenome }} </li>
    <li>{{ obj.profissao }} </li>
 </ul>
 <a href="{% url 'criadores' %}"> Voltar </a>
{% endblock %}
