{% extends 'base.html' %}

{% block conteudo %}
  <h3>Criador</h3>
  {% for todos in obj %}
    <ul>
      <li><a href="{% url 'criador_detalhe' todos.id %}">{{ todos.nome }}</a> | <a href="{% url 'criador_deletar' todos.id %}">Deletar</a> </li>
    </ul>
  {% endfor %}
  <a href="{% url 'criar_criador' %}">Cadastrar novo Criador </a> <br />
{% endblock %}
