{% extends 'base.html' %}

{% block conteudo %}
  <h3>TODO</h3>
  {% for todos in obj %}
    <ul>
      <li><a href="{% url 'todo_detalhe' todos.id %}">{{ todos }} </a> | <a href="{% url 'todo_deletar' todos.id %}">Deletar</a> </li>
    </ul>
  {% endfor %}
  <a href="{% url 'criar_todo' %}">Criar Todo</a><br />
{% endblock %}
