{% extends 'base.html' %}

{% block conteudo %}
  <h3>Detalhes - TODOLIST</h3>  
  <ul>
    <li>{{ obj.lista }} | {{ obj.atividade }} | {{ obj.data_inicio }} </li>
    <li> {{ obj.criador }} </li>
 </ul>
 <a href="{% url 'todolist' %}"> Voltar </a>
{% endblock %}
