{% extends 'base.html' %}

{% block conteudo %}
  <form method="POST">
    {% csrf_token %}
    {{ todo_form.as_p }}
    <input type='submit' value='Cadastrar' />
  </form>
  <a href="/principal" >Voltar</a> <br />
{% endblock %}
