{% extends 'base.html' %}

{% block conteudo %}
  <h3>TODOLISTS</h3>
  {% for todos in obj %}
    <ul>
      <li><a href="{% url 'todolist_detalhe' todos.id %}">{{ todos.atividade }}</a> | <a href="{% url 'todo_deletar' todos.id %}">Deletar</a> </li>
    </ul>
  {% endfor %}
  <a href="{% url 'criar_todolist' %}">Criar TodoLista</a> <br />
{% endblock %}
